@model LOF.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}
<head>
    <link rel="stylesheet" href=@Url.Content("~/Content/cssmenu/styles.css")>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src=@Url.Content("~/Content/cssmenu/script.js")></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href=@Url.Content("~/Content/login/images/icons/favicon.ico") />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/vendor/bootstrap/css/bootstrap.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/vendor/animate/animate.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/vendor/css-hamburgers/hamburgers.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/vendor/animsition/css/animsition.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/vendor/select2/select2.min.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/vendor/daterangepicker/daterangepicker.css")>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/css/util.css")>
    <link rel="stylesheet" type="text/css" href=@Url.Content("~/Content/login/css/main.css")>
    <style>
        body {
        }
    </style>
</head>
<div id='cssmenu'>
    <ul>
        <li class='active'><a href="@Url.Content("~/Template/Index")">Lost & Found</a></li>
        <li><a href="@Url.Content("~/FoundProducts/Create")">Found Anything??</a></li>
        <li><a href="@Url.Content("~/LostProducts/Create")">Lost Anything??</a></li>
        <li><a href="@Url.Content("~/AllProducts/Index")">All Products</a></li>
        <li><a href="@Url.Content("~/FoundProducts/Index")">Found Products</a></li>
        <li><a href="@Url.Content("~/LostProducts/Index")">Lost Products</a></li>



    </ul>
    <ul class="nav navbar-nav navbar-right">

        <li><a class="navbar-brand active" href="@Url.Content("~/Account/Register")">Register</a></li>
        <li><a class=" active" href="@Url.Content("~/Account/Login")">Login</a></li>


    </ul>
</div>
<br />

@using (Html.BeginForm())
{
    <div class="container-login100" style="background-image: url('images/bg-01.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">


            <form class="login100-form validate-form">


                <section id="loginForm">
                    <span class="login100-form-title p-b-37">
                        Sign In
                    </span>
                    @Html.AntiForgeryToken()

                    <hr />
                    @Html.ValidationSummary(true)

                    <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username ">
                        @Html.TextBoxFor(model => model.UserName, new { @class = "input100", name = "username", placeholder = "username" })
                        @Html.ValidationMessageFor(model => model.UserName)
                        <span class="focus-input100"></span>

                    </div>

                    <div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
                        @Html.TextBoxFor(model => model.Password, new { @class = "input100", type = "password", name = "pass", placeholder = "password" })
                        @Html.ValidationMessageFor(model => model.Password)
                        <span class="focus-input100"></span>

                    </div>

                    <div class="container-login100-form-btn">
                        <input type="submit" value="Sign in" class="login100-form-btn" />


                    </div>
                    <br/>
                    <br />
                    @*
                    <div class="text-center p-t-57 p-b-20">
                        <span class="txt1">
                            Or login with
                        </span>
                    </div>

                    <div class="flex-c p-b-112">
                        <a href="#" class="login100-social-item">
                            <i class="fa fa-facebook-f"></i>
                        </a>

                        <a href="#" class="login100-social-item">
                            <img src=@Url.Content("~/Content/login/images/icons/icon-google.png")>
                        </a>
                    </div>
                        *@
                    <div class="text-center">
                        @Html.ActionLink("SIGN UP", "Register", "Account")
                    </div>

                    @*  @Html.AntiForgeryToken()

                        <hr />
                        @Html.ValidationSummary(true)
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log in" class="btn btn-default" />
                            </div>
                        </div>
                        <p>
                            @Html.ActionLink("Register", "Register") if you don't have a local account.
                        </p>
                    *@
                </section>
            </form>
        </div>
    </div>
}

<!--===============================================================================================-->
<!--===============================================================================================-->
<!--===============================================================================================-->
<script src=@Url.Content("~/Content/login/vendor/jquery/jquery-3.2.1.min.js")></script>
<!--===============================================================================================-->
<script src=@Url.Content("~/Content/login/vendor/animsition/js/animsition.min.js")></script>
<!--===============================================================================================-->
<script src=@Url.Content("~/Content/login/vendor/bootstrap/js/popper.js")></script>
<script src=@Url.Content("~/Content/login/vendor/bootstrap/js/bootstrap.min.js")></script>
<!--===============================================================================================-->
<script src=@Url.Content("~/Content/login/vendor/select2/select2.min.js")></script>
<!--===============================================================================================-->
<script src=@Url.Content("~/Content/login/vendor/daterangepicker/moment.min.js")></script>
<script src=@Url.Content("~/Content/login/vendor/daterangepicker/daterangepicker.js")></script>
<!--===============================================================================================-->
<script src=@Url.Content("~/Content/login/vendor/countdowntime/countdowntime.js")></script>
<!--===============================================================================================-->
<script src=@Url.Content("~/Content/login/js/main.js")></script>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
