
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href=@Url.Content("~/Content/cssmenu/styles.css")>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src=@Url.Content("~/Content/cssmenu/script.js")></script>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div id="container">
    <div id='cssmenu'>
        <ul>
            <li class='active'><a href="@Url.Content("~/Template/Index")">Lost & Found</a></li>
            <li><a href="@Url.Content("~/FoundProducts/Create")">Found Anything??</a></li>
            <li><a href="@Url.Content("~/LostProducts/Create")">Lost Anything??</a></li>
            <li><a href="@Url.Content("~/AllProducts/Index")">All Products</a></li>
            <li><a href="@Url.Content("~/FoundProducts/Index")">Found Products</a></li>
            <li><a href="@Url.Content("~/LostProducts/Index")">Lost Products</a></li>



        </ul>
        <ul class="nav navbar-nav navbar-right">

            <li><a class="navbar-brand active" href="@Url.Content("~/Account/Register")">Register</a></li>
            <li><a class=" active" href="@Url.Content("~/Account/Login")">Login</a></li>


        </ul>
    </div>
    <br />
    <div class=" jumbotron jumbotron-fluid">
        <p class="lead">    Congratulaion !! Your upload's have been granted and will be added to website after few times.</p>
    </div>
        </div>
</body>
</html>
